***TALLER #1***
Integrantes:
-Andres Useche
-Rafael Torregroza
-Juan Soto

In [27]:
# librerias necesarias para el analisis exploratorio de los Datos
import pandas as pd

import os
#histogramas
import matplotlib.pyplot as plt
import numpy as np

In [28]:
# lextura del dataframe tipo csv
# El Dataset es sobre los precios y caracteirsticas de casas, apartamentos o lotes que estan en venta
precio_casa = pd.read_csv('house_prices (1).csv')

precio_casa.head(20)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN
5,5,1 BHK Ready to Occupy Flat for sale in Virat A...,Creatively planned and constructed is a 1 BHK ...,45 Lac,6618.0,thane,NaN,Ready to Move,2 out of 7,Resale,...,East,"Garden/Park, Main Road",Virat Aangan,1,1,NaN,Co-operative Society,680 sqft,NaN,NaN
6,6,1 BHK Ready to Occupy Flat for sale Mumbra,This magnificent 1 BHK Flat is available for s...,16.5 Lac,2538.0,thane,550 sqft,Ready to Move,4 out of 5,Resale,...,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN
7,7,1 BHK Ready to Occupy Flat for sale Kalwa,Creatively planned and constructed is a 1 BHK ...,60 Lac,10435.0,thane,NaN,Ready to Move,Ground out of 7,Resale,...,NaN,NaN,NaN,1,NaN,NaN,NaN,575 sqft,NaN,NaN
8,8,1 BHK Ready to Occupy Flat for sale Kalwa,Discover this immaculate 1 BHK flat for sale a...,60 Lac,10000.0,thane,NaN,Ready to Move,Ground out of 2,Resale,...,NaN,NaN,NaN,1,NaN,NaN,Co-operative Society,600 sqft,NaN,NaN
9,9,3 BHK Ready to Occupy Flat for sale in Pride P...,One can find this stunning 3 BHK flat for sale...,1.60 Cr,11150.0,thane,900 sqft,Ready to Move,3 out of 27,Resale,...,East,Garden/Park,Pride Palms,3,1,1 Covered,Freehold,NaN,NaN,NaN
10,10,3 BHK Ready to Occupy Flat for sale in Cosmos ...,Up for immediate sale is a 3 BHK apartment in ...,1.40 Cr,12174.0,thane,950 sqft,Ready to Move,6 out of 20,Resale,...,NaN,Main Road,Cosmos Lounge,2,NaN,1 Open,Co-operative Society,NaN,NaN,NaN
11,11,2 BHK Ready to Occupy Flat for sale in Regency...,"2 BHK, Multistorey Apartment is available for ...",1.36 Cr,11674.0,thane,NaN,Ready to Move,16 out of 24,Resale,...,NaN,NaN,Regency Heights,2,NaN,NaN,NaN,1165 sqft,NaN,NaN
12,12,2 BHK Ready to Occupy Flat for sale in Regency...,"2 BHK, Multistorey Apartment is available for ...",1.35 Cr,15995.0,thane,NaN,Ready to Move,8 out of 20,Resale,...,NaN,NaN,Regency Heights,2,NaN,NaN,NaN,844 sqft,NaN,NaN
13,13,4 BHK Ready to Occupy Flat for sale Hiranandan...,Creatively planned and constructed is a 4 BHK ...,4.25 Cr,17526.0,thane,1820 sqft,Ready to Move,18 out of 27,Resale,...,East,Garden/Park,NaN,4,1,2 Covered,Freehold,NaN,NaN,NaN
14,14,1 BHK Ready to Occupy Flat for sale Rabodi,Discover this immaculate 1 BHK flat for sale a...,75 Lac,11538.0,thane,NaN,Ready to Move,2 out of 3,Resale,...,NaN,NaN,NaN,1,NaN,NaN,NaN,650 sqft,NaN,NaN
15,15,2 BHK Ready to Occupy Flat for sale in Puranik...,"Kasarvadavali, Thane has an appealing 2 BHK fl...",90 Lac,10000.0,thane,675 sqft,Ready to Move,10 out of 16,New Property,...,North - East,"Garden/Park, Main Road",Puraniks Tokyo Bay,2,1,1 Covered,Freehold,NaN,NaN,NaN
16,16,1 BHK Ready to Occupy Flat for sale in Green W...,Have a look at this immaculate 1 BHK flat for ...,37 Lac,5736.0,thane,647 sqft,Ready to Move,5 out of 7,New Property,...,East,Garden/Park,Green Woods,1,2,NaN,Freehold,NaN,NaN,NaN
17,17,1 BHK Ready to Occupy Flat for sale Dombivli West,This magnificent 1 BHK Flat is available for s...,35 Lac,6481.0,thane,NaN,Ready to Move,4 out of 5,Resale,...,NaN,NaN,NaN,1,NaN,NaN,NaN,540 sqft,NaN,NaN
18,18,2 BHK Ready to Occupy Flat for sale in Everest...,Discover this immaculate 2 BHK flat for sale a...,90 Lac,11250.0,thane,600 sqft,Ready to Move,20 out of 28,Resale,...,North - East,"Pool, Garden/Park, Main Road",Everest World Lavender,2,NaN,66 Covered,Co-operative Society,NaN,NaN,NaN
19,19,1 BHK Ready to Occupy Flat for sale Shahad,"This lovely 1 BHK Flat in Shahad, Thane is up ...",35 Lac,6731.0,thane,NaN,Ready to Move,3 out of 3,Resale,...,NaN,NaN,NaN,1,1,1 Open,NaN,520 sqft,NaN,NaN

In [29]:
num_filas = precio_casa.shape[0]  # Número de filas
num_columnas = precio_casa.shape[1]  # Número de columnas

print(f"hay {num_filas} filas y {num_columnas} columnas")

hay 187531 filas y 21 columnas

In [30]:
#estructura del dataframe(proporciona una vista compacta de la estructura interna del DataFrame, indicando los
#            tipos de variables, el número de valores no nulos y la memoria utilizada)

precio_casa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

In [31]:
#un resumen estadistico de las variables numericas del dataframe

precio_casa.describe()

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

In [32]:
#cuantos valores nulos hay en nuestro dataset
Cantidad_Nulos = precio_casa.isnull().sum()
print(Cantidad_Nulos)

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

In [33]:
#Porcentaje valores
cantidad_registros = precio_casa.shape[0]
Porcentaje_Nulos = (Cantidad_Nulos/cantidad_registros)*100
print(Porcentaje_Nulos)

Index                  0.000000
Title                  0.000000
Description            1.612000
Amount(in rupees)      0.000000
Price (in rupees)      9.419776
location               0.000000
Carpet Area           43.018488
Status                 0.327946
Floor                  3.773776
Transaction            0.044259
Furnishing             1.544811
facing                37.451408
overlooking           43.425354
Society               58.485264
Bathroom               0.441527
Balcony               26.094352
Car Parking           55.114621
Ownership             34.936624
Super Area            57.422506
Dimensions           100.000000
Plot Area            100.000000
dtype: float64

Eliminacion de valores nulos en columnas y llenado de columnas con valores especificos

Cabe resaltar que, dado que no se sabe para que se quiere analizar la base, no se sabe que variables son mas importantes que otras, ni que porcentaje de datos nulos se puede tolerar, por lo cual no eliminamos muchas vaariables y se rellenan algunos valores nulos con "nothing description"

In [40]:
#eliminacion para solo columnas

precio_casa.drop(["Dimensions", "Plot Area", ], axis=1, inplace=True)    #axis = columnas o filas -> inplace = modificar el dataset original

KeyError: "['Dimensions', 'Plot Area'] not found in axis"

In [41]:
#Algunas columnas numéricas están en formato object en lugar de int o float, lo que puede causar errores.

precio_casa["Bathroom"] = pd.to_numeric(precio_casa["Bathroom"], errors="coerce")
precio_casa["Balcony"] = pd.to_numeric(precio_casa["Balcony"], errors="coerce")

In [36]:
#llenar los espacios vacios con algun valor en especificio

precio_casa["Price (in rupees)"] = precio_casa["Price (in rupees)"].fillna(0) #en este caso con 0
precio_casa["Bathroom"] = precio_casa["Bathroom"].fillna('NA') #en este caso con NA
precio_casa["Description"] = precio_casa["Description"].fillna('nothing description') #en este caso con strings
precio_casa["Car Parking"] = precio_casa["Car Parking"].fillna('nothing description')
precio_casa["Super Area"] = precio_casa["Super Area"].fillna('nothing description')
#y lo mismos con las demas columnas

In [39]:
# observar nuevamente los resultados

print(precio_casa.isnull().sum())

Index                     0
Title                     0
Description               0
Amount(in rupees)         0
Price (in rupees)         0
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                  0
Balcony               48957
Car Parking               0
Ownership             65517
Super Area                0
dtype: int64

Normalizacion y/o estandarizacion

In [42]:
precio_casa.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1.0,2.0,nothing description,NaN,nothing description
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2.0,NaN,1 Open,Freehold,nothing description
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2.0,NaN,1 Covered,Freehold,nothing description
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,0.0,thane,530 sqft,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1.0,1.0,nothing description,NaN,nothing description
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2.0,NaN,1 Covered,Co-operative Society,nothing description

Separamos las unidades de medida de los valores de Tile, Amount(in rupees) y Carpet Area

In [71]:
df = pd.DataFrame(precio_casa)
df[['Amount', 'Rupees']] = df['Amount(in rupees)'].str.extract(r'(\d*\.?\d+)\s*(\D+)')
df[['BHK', 'Status', 'Type', 'Location']] = df['Title'].str.extract(r'(\d+\s*BHK)\s*(.*?)\s*(Flat|Apartment|Villa|House)\s*(?:for\s*\w*\s*in\s*(.*))?')

# Convertir BHK, Amount y Carpert area a numero
df['BHK'] = df['BHK'].str.extract(r'(\d+)').astype(float)
df['Amount'] = pd.to_numeric(df['Amount'])
df ['Carpert area'] = pd.to_numeric(df['Carpet area'])

df[['Carpet area', 'unit of measurement']] = df['Carpet Area'].str.extract(r'(\d*\.?\d+)\s*(\D+)')

df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,Ownership,Super Area,Amount,Rupees,BHK,Type,Location,Carpet area,unit of measurement,Carpert area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Occupy,10 out of 11,Resale,...,NaN,nothing description,42.0,Lac,1.0,Flat,Srushti Siddhi Mangal Murti Complex Bhiwandi,500,sqft,500.0
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Occupy,3 out of 22,Resale,...,Freehold,nothing description,98.0,Lac,2.0,Flat,Dosti Vihar Pokhran Road,473,sqft,473.0
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Occupy,10 out of 29,Resale,...,Freehold,nothing description,1.4,Cr,2.0,Flat,Sunrise by Kalpataru Kolshet Road,779,sqft,779.0
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,0.0,thane,530 sqft,Ready to Occupy,1 out of 3,Resale,...,NaN,nothing description,25.0,Lac,1.0,Flat,NaN,530,sqft,530.0
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Occupy,20 out of 42,Resale,...,Co-operative Society,nothing description,1.6,Cr,2.0,Flat,TenX Habitat Raymond Realty Pokhran Road,635,sqft,635.0

In [72]:
#Se eliminan las columnas
df.drop(["Amount(in rupees)" ], axis=1, inplace=True)
df.drop(["Carpet Area"], axis=1, inplace=True)

Normalización, División en conjuntos de entrenamiento y prueba

In [76]:
from sklearn.preprocessing import StandardScaler

# Definir las columnas numéricas que quedan después de la limpieza
numeric_columns = ["Price (in rupees)", "Carpet area"]

# Inicializar el escalador
scaler = StandardScaler()

# Aplicar estandarización solo a las columnas numéricas restantes
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

# Mostrar los primeros resultados
print(df[numeric_columns].head())

   Price (in rupees)  Carpet area
0          -0.033411    -0.229729
1           0.266305    -0.238592
2           0.408534    -0.138138
3          -0.263991    -0.219880
4           0.459416    -0.185411

In [77]:
from sklearn.model_selection import train_test_split

# Separar las características (X) y el objetivo (y)
X = df.drop(["Price (in rupees)"], axis=1)  # Aquí elimina la columna objetivo
y = df["Price (in rupees)"]  # Esta es la variable objetivo

# Dividir los datos en conjuntos de entrenamiento (70%) y prueba (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Mostrar las dimensiones de los conjuntos resultantes
print(f"Conjunto de entrenamiento: {X_train.shape}, {y_train.shape}")
print(f"Conjunto de prueba: {X_test.shape}, {y_test.shape}")

Conjunto de entrenamiento: (131271, 24), (131271,)
Conjunto de prueba: (56260, 24), (56260,)